@import 'tailwindcss';

:root {
  --primary-blue: 13 127 242;
  --light-blue: rgba(13, 127, 242, 0.2);

  --dark-gray: #1e293b;
  --light-gray: #f5f7f8;
  --outline-gray: #e2e8f0;
  --background: #f5f7f8;
}
